html, body {
  margin: 0;
  margin-left: 10px;

}

.app-container {
  max-width: 1200px;
}

.app-header {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
}

.app-title {
  margin-right: auto;
  font-size: 24px;
}

.app-nav-bar {
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-left: auto;
  gap: 4rem;
}

.app-nav-bar > div {
  align-self: flex-end; /* center */
}

canvas {
  background-color: rgb(240, 240, 240);
  position: absolute;
  left: 100;
  margin: 0;
  box-shadow: 8px 10px 5px -2px #888;
  box-shadow: inset 0 0 10px black;
}