html, body {
  margin: 0;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(48, 48, 48);
  color: white;
}

.app-container {
  max-width: 1000px;
}

.app-header {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
}

.app-title {
  margin-right: auto;
  font-size: 24px;
  font-family: none;
}

.app-nav-bar {
  flex-direction: row-reverse;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-left: auto;
  gap: 4rem;
}

.app-nav-bar > div {
  align-self: flex-end; /* center */
}

canvas {
  /* background-color: rgb(240, 240, 240); */
  background-color: rgb(200, 200, 200);
  left: 100;
  margin: 0;
  box-shadow: 8px 10px 5px -2px #888;
  box-shadow: inset 0 0 10px black;
  max-height: 600px;
}
.canvas-container {
  display: flex;
}
.app-panel {
  width: 100%;
  padding-left: 30px;
}

.node-header {
  position: relative;
  text-align: center;
  font-size: 10px;
  padding-bottom: 4px;
}

.panel-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.node-body-container {
  display: flex;
}

.node-info-container {
  display: flex;
  flex-direction: column;
  padding-left: .5rem;
}

.close {
  position: absolute;
  margin-left: auto;
  opacity: 0.3;
  right: 20px;
  top: 0;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  margin-left: auto;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.node-info {
  margin-top: 1rem;
  padding-left: .5rem;
}
.node-info-item {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

button:active {
  scale: 0.9;
  transition-duration: 50ms;
}


.plus-button {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
}

.plus-button::after,
.plus-button::before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

.plus-button::before {
  height: 1em;
  width: 0.2em;
}

.plus-button::after {
  height: 0.2em;
  width: 1em;
}

.plus-button--small {
	font-size: 6px;
}

.plus-button--large {
	font-size: 22px;
}

.minus-button {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;
}

.minus-button::after,
.minus-button::before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

/* .minus-button::before {
  height: 1em;
  width: 0.2em;
} */

.minus-button::after {
  height: 0.2em;
  width: 1em;
}

.minus-button--small {
	font-size: 6px;
}

.minus-button--large {
	font-size: 22px;
}

.panel-page-info {
  padding: 1rem 0 1rem 0;
}